.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8cb9e9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }