.main {
  position: relative;
  width: 100vw;
  height: 85vh;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.brandSlider {
  position: relative;
  width: 100vw;
}

.category {
  position: relative;
  width: 100vw;
}

.box {
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 50%;
  border: 2px solid white;
}

#row {
  background: gray;
  opacity: 0.3;
  justify-content: space-evenly;
}
.icon{
  margin: auto;
  font-size: 51px;
}
